.centerDiv {
  box-shadow: 0px 0px 5px 2px #1d2c44;
  padding: 20px;
  background-color: #029ecd;
  color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputDiv {
  height: 30px;
  border-radius: 10px;
  border: none;
}

body {
  background-color: #f5f5f5;
}

.buttonDiv {
  height: 33px;
  width: 100px;
  background-color: #1d2c44;
  MARGIN: 15PX 30PX;
  BORDER-RADIUS: 10PX;
  border: none;
  color: white;
}

.text-center {
  color: #1d2c44;
  margin: 30px 0px;
  font-size: 20px;
}

.temp {
  font-size: larger;
  font-weight: 500;
}